

.course-card {
  margin: 20px 10px;
  max-width:474px;
}

.course-actions {
    display: flex;
  justify-content: center;
}

.course-actions button {
  margin-right: 5px;
}

.course-thumbnail {
  max-width:474px;
  max-height: 267px;
}


.long-description {
  min-height: 50px;
  max-width: 442px;
}

mat-card-content p {
  padding: 10px;
}

