

<h2 mat-dialog-title>{{title}}</h2>

<mat-dialog-content [formGroup]="form">

    <mat-form-field>

        <input matInput  placeholder="Title" formControlName="description">

    </mat-form-field>

    <mat-form-field>

        <textarea matInput placeholder="Description" formControlName="longDescription"></textarea>

    </mat-form-field>

</mat-dialog-content>

<mat-dialog-actions>

    <button class="mat-raised-button mat-primary" (click)="save()">Save</button>

    <button class="mat-raised-button" (click)="close()">Close</button>

</mat-dialog-actions>



