
<div class="drag-drop-container" cdkDropListGroup>

  <div class="pending">

    <h3>Lessons To Watch:</h3>

    <div cdkDropList class="lessons-list drag-drop-list"
      [cdkDropListData]="lessons"
      (cdkDropListDropped)="dropMultiList($event)">

      @for (lesson of lessons; track lesson) {
        <div class="lesson drag-drop-item" cdkDrag>
          <div class="drop-placeholder" *cdkDragPlaceholder></div>
          {{lesson.description}}
        </div>
      }


    </div>

  </div>

  <div class="done">

    <h3>Done:</h3>

    <div cdkDropList class="lessons-list drag-drop-list"
      [cdkDropListData]="done"
      (cdkDropListDropped)="dropMultiList($event)">

      @for (lesson of done; track lesson) {
        <div class="lesson drag-drop-item" cdkDrag>
          <div class="drop-placeholder" *cdkDragPlaceholder></div>
          {{lesson.description}}
        </div>
      }

    </div>


  </div>

</div>
