
.course {
    text-align: center;
    max-width: 370px;
    margin: 0 auto;
}

.course-thumbnail {
    width: 150px;
    margin: 20px auto 0 auto;
    display: block;
}

.description-cell {
    text-align: left;
    margin: 10px auto;
}

.duration-cell {
    text-align: center;
}

.duration-cell mat-icon {
    display: inline-block;
    vertical-align: middle;
    font-size: 20px;
}