
h2 {
  font-family: "Roboto";
}

.scrolling-space {
  width: 100%;
  height: 500px;
}

.data-form {
  max-width: 600px;
  margin: 40px auto;
}

.stepper-buttons {
  margin-top: 10px;
}

.stepper-buttons button {
  margin-right: 5px;
}

