

.courses-panel {
    max-width: 400px;
    margin: 0 auto;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

h2 {
  font-family: "Roboto";
}

.title {
  text-align: center;
  margin-right: 15px;

}
